#sec-photo {
    height: 75%;
    padding: 0.5em;
    background-color: #808080;
}

#btn-cam {
    height: 100%;
}

#photo {
    height: 100%;
}

#received-photo {
    height: 100%;
    margin: auto;
}

#groupphotos .app-content div {
    display: inline-block;
    width: 30%;
    border: 3px solid black;
    margin: 2px;
    height: 0;
    padding-bottom: 30%;
}

#photopage .app-content {
    background-color: black;
}

#pagephoto {
    height: 100%;
    display: block;
    margin: auto;
}

#group-edit-list li {

}